.App {

  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  aspect-ratio: 900/1600;
  height: 100vh;
  background-color: black;
  
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-heading{
  display: flex;
  align-items: center;
  background-color: black;
  height: 6%;
  width: 100%;
  position: relative;
}

.heading{
  padding-left: 10%;
  font-size: 100%;
  color: whitesmoke;
  font-weight: bold;
  position: relative;
}

.DynamicContainer{
  padding-top: 2%;
  height: 77%;
  background-color: white;
}

.StaticContainer{
  align-self: flex-end;
  position: relative;
  display: flex;
  justify-content: center;
  height: 16%;
  background-color: #222831;
  
}

.AssetsButton {
  position: relative;
  height: 97%;
  width: 30%;
  justify-content: center;
  background-color: #45474B;
  border: 3px solid #000;
  border-left: 0px;
}

.HomeButton{
  height: 97%;
  width: 30%;
  justify-content: center;
  background-color: #45474B;
  border: 3px solid #000;
}

.contents{
  position: relative;
  font-weight: bolder;
  font-size: 150%;
  color: white;
}