.assetContainer{
    position: relative;
    height: 14vh;
    width: 99%;
    margin-left: 0.15%;
    background-color: black;
    display: flex;
    border: 2px solid;
    border-color: black;
    display:  flex;
    flex-direction: column;
    
}

.assetTitle{
    align-self: flex-start;
    position: relative;
    margin-top: 1vh;
    padding-left: 1vh;
    font-weight: bolder;
    font-size: 3.5vh;
    color: whitesmoke;
    text-align: left;
    height: 7vh;
    width: 100%;
}

.assetDetails{
    height: 7vh;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 5%;
    padding-right: 5%;
}

.details{
    position: relative;
    font-size: 3vh;
}